// Fonts
$primary-font: 'Barlow',
sans-serif;
// font-family: 'Barlow', sans-serif;
$secondary-font: 'Fira Sans',
sans-serif;
// font-family: 'Fira Sans', sans-serif;
// Color
$base-color: #5559A7;
$base-color2: #FF8484;
$text-color-white :#ffffff;
$text-color-gray :#363636;
// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;