header {
    padding: 15px 0px;
    @include breakpoint(mobile-max) {
        background-color: #5559A7 !important;
        padding: 10px 0px;
    }
    .main_menu {
        padding: 15px 0px;
        nav {
            background-color: transparent;
            .navbar-collapse {
                justify-content: center;
                @include breakpoint(ipad-max) {
                    padding: 0px;
                }
                ul {
                    li {
                        padding-left: 20px;
                        @include breakpoint(ipad-max) {
                            padding-left: 5px;
                        }
                        a {
                            font-family: $primary-font;
                            color: $text-color-white;
                            font-size: 18px;
                            font-weight: 500;
                            @include breakpoint(ipad-max) {
                                font-size: 11px;
                            }
                        }
                        &:first-of-type {
                            padding-left: 0;
                        }
                    }
                }
                .serach_bar {
                    ul {
                        list-style: none;
                        li {
                            padding-top: 10px;
                            a {
                                &::after {
                                    display: none;
                                }
                                span {
                                    img {
                                        padding-top: 0px;
                                        @include breakpoint(ipad-max) {
                                            width: 70%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .login_btn {
        display: flex;
        height: 100%;
        align-items: center;
        ul {
            background-color: $base-color;
            border-radius: 8px;
            width: 100%;
            list-style: none;
            padding: 10px 10px;
            margin: 0px 0px 0px 0px;
            display: flex;
            justify-content: space-around;
            @include breakpoint(mobile-max) {
                justify-content: flex-start;
                flex-wrap: wrap;
            }
            li {
                @include breakpoint(mobile-max) {
                    width: 100%;
                    margin-bottom: 5px;
                    text-align: center;
                }
            }
            .language_dropdown {
                .selectpicker {
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: none;
                    border: 0px;
                    font-size: 16px;
                    color: $text-color-white;
                    text-transform: uppercase;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    position: relative;
                    background-image: url(../images/down-arrow.png);
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: 95% center;
                    width: 55px;
                    font-family: $primary-font;
                    cursor: pointer;
                    @include breakpoint(ipad-max) {
                        font-size: 10px;
                    }
                    @include breakpoint(mobile-max) {
                        font-size: 12px;
                    }
                }
            }
            .login_link {
                a {
                    font-size: 16px;
                    color: $text-color-white;
                    position: relative;
                    padding-left: 25px;
                    @include breakpoint(ipad-max) {
                        font-size: 10px;
                    }
                    @include breakpoint(mobile-max) {
                        font-size: 12px;
                    }
                    &::before {
                        background-image: url(../images/login_icon.png);
                        background-repeat: no-repeat;
                        background-size: auto;
                        position: absolute;
                        content: "";
                        width: 12px;
                        height: 16px;
                        left: 0;
                    }
                }
            }
        }
    }
}

.sticky {
    background: url(../images/header_sticky.png) no-repeat;
    background-size: 100% 100%;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.flex-order-item {
    @include breakpoint(mobile-max) {
        order: 1;
        padding-left: 0px;
    }
}

// Mobile menu open from left
.mobile-menu {
    .modal.left {
        .modal-dialog {
            position: fixed;
            margin: auto;
            width: 217px;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }
    }
}

.mobile-menu {
    .modal.left {
        .modal-content {
            height: 100%;
            overflow-y: auto;
        }
    }
}

.mobile-menu {
    .modal.left {
        .modal-body {
            // padding: 15px 15px 80px;
            padding: 0px;
        }
    }
}

.mobile-menu {
    .modal.left.fade {
        .modal-dialog {
            left: -217px;
            -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
            -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
        }
    }
}

.mobile-menu {
    .modal.left.fade.in {
        .modal-dialog {
            left: 0;
        }
    }
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #ffffff;
}

// mobile-menu Modal start
.mobile-menu-btn {
    background-color: #5559A7 !important;
    font-size: 20px !important;
    @include breakpoint(ipad-min) {
        display: none;
    }
    &.btn {
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
        }
    }
}

//mobile navbar start here
.mobile-navbar {
    padding: 0px !important;
    .navbar-nav {
        width: 100%;
        padding: 0px !important;
        .nav-item {
            border-bottom: 1px solid #e2e2e2;
            padding: 10px 0px;
            .nav-link {
                text-transform: uppercase;
                text-align: center;
                color: #5559A7;
            }
        }
    }
}